name: Deploy to EB
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Generate deployment package
        run: zip -r deploy.zip . -x "*.git*" # .env는 원래 ignore되어 있으므로 포함 안 됨

      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: your-app-name  # EB 애플리케이션 이름
          environment_name: your-env-name  # EB 환경 이름
          version_label: ${{ github.sha }}
          region: ap-northeast-2
          deployment_package: deploy.zip